<div
  class="container-fluid bg-dark text-white vh-100 d-flex align-items-center"
>
  <div class="row w-100">
    <div class="col-md-6 offset-md-1">
      <h1 class="display-4">Bashar Mohamed</h1>
      <h3>Mean Stack Developer</h3>
      <a href="#" class="btn btn-outline-light mt-3">Contact Me</a>
    </div>
    <div class="col-md-5">
      <img
        src="Bashar.jpg"
        class="img-fluid"
        alt="Bashar Mohamed"
        style="width: 300px; height: 100%"
      />
    </div>
  </div>
</div>
