<div
  class="container-fluid p-5 vh-100 d-flex justify-content-center align-items-center flex-column"
>
  <h1 class="mb-5">Portfolio</h1>
  <div class="container-fluid row row-cols-2 row-cols-lg-3 g-3 g-lg-4 w-75">
    <app-project
      projectName="WEB DESIGN"
      projectColor="bg-secondary"
    ></app-project>
    <app-project
      projectName="MOBILE DESIGN"
      projectColor="bg-dark"
    ></app-project>
    <app-project
      projectName="LOGO DESIGN"
      projectColor="bg-secondary"
    ></app-project>
    <app-project
      projectName="WEB APPLICATION DEVELOPMENT"
      projectColor="bg-dark"
    ></app-project>
    <app-project
      projectName="MOBILE APPLICATION DEVELOPMENT"
      projectColor="bg-secondary"
    ></app-project>
    <app-project
      projectName="PWA DEVELOPMENT"
      projectColor="bg-dark"
    ></app-project>
  </div>
</div>
