<!-- <div class="container-fluid w-100 text-white bg-success p-5">
  <div class="row row-cols-lg-3">
    <div>
      <h4>GET IN TOUCH</h4>
      <i class="fa-solid fa-envelope"></i>
    </div>
    <a href="#" class="btn btn-outline-light mt-3">Contact Me</a>
    <div class="g-1">
      <img src="linkedin-brands-solid.svg" alt="" style="width: 30px" />
      <img src="linkedin-brands-solid.svg" alt="" style="width: 30px" />
      <img src="linkedin-brands-solid.svg" alt="" style="width: 30px" />
    </div>
  </div>
</div> -->

<div class="container-fluid text-white bg-success p-5">
  <div class="row text-center text-md-start">
    <div class="col-md-4 mb-3 mb-md-0">
      <h4>GET IN TOUCH</h4>
      <div class="ms-3">
        <p>
          <img src="linkedin-brands-solid.svg" alt="" style="width: 20px" />
          hotmail.com
        </p>
        <p>
          <img src="address-book-solid.svg" alt="" style="width: 20px" />
          717-555-1234
        </p>
      </div>
    </div>
    <div
      class="col-md-4 mb-3 mb-md-0 d-flex justify-content-center align-items-center"
    >
      <a href="#" class="btn btn-outline-light px-5 py-2">CONTACT ME</a>
    </div>
    <div
      class="col-md-4 d-flex flex-column align-items-center align-items-md-end"
    >
      <div class="mb-2">
        <a href="#" class="text-white me-2"
          ><img src="linkedin-brands-solid.svg" alt="" style="width: 20px"
        /></a>
        <a href="#" class="text-white me-2"
          ><img src="facebook-f-brands-solid.svg" alt="" style="width: 15px" />
        </a>
        <a href="#" class="text-white"
          ><img src="twitter-brands-solid.svg" alt="" style="width: 20px"
        /></a>
      </div>
      <p class="mb-0">Copyright &copy; 2019 KR</p>
    </div>
  </div>
</div>
