<div class="container-fluid text-white text-center w-100 bg-dark py-5">
  <div class="w-50 mx-auto mb-5">
    <h1 class="mb-4">Skills</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio,
      praesentium provident eos adipisci ipsam ipsa alias eius laudantium
      minima, repellendus quaerat velit, tempore maiores iste autem accusamus
      possimus illum. Quasi?
    </p>
  </div>

  <app-skill
    skillName="HTML"
    [skillLevel]="100"
    skillColor="bg-danger"
  ></app-skill>
  <app-skill
    skillName="CSS"
    [skillLevel]="90"
    skillColor="bg-primary"
  ></app-skill>
  <app-skill
    skillName="Java Script"
    [skillLevel]="100"
    skillColor="bg-warning"
  ></app-skill>
  <app-skill
    skillName="Angular"
    [skillLevel]="80"
    skillColor="bg-danger"
  ></app-skill>
  <app-skill
    skillName="Node JS"
    [skillLevel]="80"
    skillColor="bg-warning"
  ></app-skill>
  <app-skill
    skillName="Express"
    [skillLevel]="100"
    skillColor="bg-warning"
  ></app-skill>
  <app-skill
    skillName="Mongo DB"
    [skillLevel]="100"
    skillColor="bg-success"
  ></app-skill>
</div>
